{% extends 'base.html' %}

{% block content %}
    <p>Book title: {{ book_instance.book.title }}</p>
    <p>Borrower: {{ book_instance.borrower }}</p>
    <p class="{% if book_instance.is_overdue %} text-danger {% endif %}">Due Back: {{ book_instance.due_back }}</p>

    {% if form.errors %}
        <p>please enter a valid form data</p>
    {% endif %}
    <form action="" method="post">
    {% csrf_token %}
    <table>
    <tr>
        <td>{{ form.renewal_date.label_tag }}</td>
        <td>{{ form.renewal_date }}</td>
    </tr>
{#        {{ form.as_table }}#}
    </table>
        <input type="submit" value="submit">
    </form>
{% endblock %}
{% block js_block %}
    <script>
      $( function() {
        $( "#datepicker" ).datepicker({
            dateFormat: "yy-mm-dd"
        });
      } );
  </script>
{% endblock %}